<section class="section">
    <div class="container">
        <h1 class="title">
            Welcome Stratotech Employees!
        </h1>
        <p class="subtitle">
            Sit back and grab a Waffle Drone (C)
        </p>
    </div>
</section>
    